<div>
    <md-toolbar md-scroll-shrink class="md-hue-2">
        <h2 class="md-toolbar-tools">Add Cheque</h2>
    </md-toolbar>
    <span><br /><br /></span>

    <md-button md-no-ink class="md-primary" ng-disabled="false" ng-click="signature()"><md-tooltip md-direction="bottom" >Select the Signature Region</md-tooltip>Signature</md-button>
    <md-button md-no-ink class="md-primary" ng-disabled="false" ng-click="courtesyamount()"><md-tooltip md-direction="bottom" >Select the Numerical Amount Region</md-tooltip>Courtesy Amount</md-button>
    <md-button md-no-ink class="md-primary" ng-disabled="false" ng-click="legalamount()"><md-tooltip md-direction="bottom">Select the Written Amount Region</md-tooltip>Legal Amount</md-button>
    <md-button md-no-ink class="md-primary" ng-disabled="false" ng-click="date()"><md-tooltip md-direction="bottom">Select the Date Region</md-tooltip>Date</md-button>
    <md-button md-no-ink class="md-primary" ng-disabled="false" ng-click="micr()"><md-tooltip md-direction="bottom">Select the MICR Numbers Region</md-tooltip>MICR</md-button>
    <md-button md-no-ink class="md-primary" ng-disabled="false" ng-click="payee()"><md-tooltip md-direction="bottom">Select the Payee Region</md-tooltip>Payee</md-button>

    <div id="canvasDiv">
        <canvas id="canvas"></canvas>
    </div>

</div>
