<div>
    <md-content class="md-padding">
        <md-nav-bar md-selected-nav-item="currentNavItem"
                    nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="goToHome()" name="page1">
                Home
            </md-nav-item>
            <md-nav-item md-nav-click="goToAddCheque()" name="page2">
                Add Cheque
            </md-nav-item>
            <md-nav-item md-nav-click="goto('page3')" name="page3">
                About Us
            </md-nav-item>
        </md-nav-bar>
</div>