<div>
<md-toolbar md-scroll-shrink class="md-hue-2">
    <h2 class="md-toolbar-tools">Cheque Interface</h2>
</md-toolbar>
<span><br /><br /></span>
    <image ng-src="http://localhost:59056/LiveChequeImageData/{{imageName}}" width="50%" height="50%"/>
    <md-progress-circular md-mode="indeterminate" md-diameter="96" ng-show="showSpinner"></md-progress-circular>
    <md-content class="loading" ng-show="showSpinner">Cheque Detecting</md-content>
    <md-content ng-show="showBank">{{BankData.name}} Cheque Detected</md-content>
    <md-content ng-show="showcropResultDone">Cheque Cropping Done</md-content>
    <md-content class="loading" ng-show="showcropResultFail">Cheque Cropping Failed, Restarting in 5 seconds</md-content>
    <md-content class="loading" ng-show="showBankFail">Cheque Detection Failed, Insert again. Restarting in 5 seconds</md-content>
</div>

